---
import { communities } from "@/data/communities"
import Layout from "@/layouts/Layout.astro"
import { Icon } from "astro-icon/components"
---

<Layout
	title="Список сообществ"
	description={`Список из ${communities.length} анонимных двенадцати шаговых сообществ.`}
>
	<!-- <Warning color="bg-green-50 border-green-200 text-green-700">
		<b>Информация на 2025 год составляет 57 сообщества.</b> Некоторые сообщества образованы
		из других, как некие группы, с фокусом на что-либо. Их намного больше, но их крайне сложно
		найти из-за закрытой информации.
		<b>Если у вас есть информация о каком-либо сообществе, будем рады обратной связи.</b>
	</Warning> -->
	<div class="flex gap-3 justify-center items-center flex-wrap">
		<p class="text-zinc-600 text-sm font-medium">
			Группа обновляется. <b><u>(25.05.2025)</u></b>
		</p>
		<a
			href="https://t.me/all12_contacts"
			class="bg-sky-50 border border-sky-500 hover:bg-sky-100 transition-colors duration-75 ease-in flex items-center gap-1 text-sky-600 px-2 py-1 rounded-md"
			target="_blank"
			><Icon name="mdi:telegram" /><span class="font-medium">Telegram</span></a
		>
	</div>
	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-start gap-4">
		{
			communities &&
				[...communities]
					.sort((a, b) => (b.wikipedia ? 1 : 0) - (a.wikipedia ? 1 : 0))
					.map(item => (
						<article class="w-full flex flex-col text-center bg-white rounded-xl">
							<div class="p-6">
								<h2 class="text-xl font-bold leading-tight mb-1">{item.title}</h2>
								<p class="line-clamp-1 text-zinc-600">{item.description}</p>
							</div>
							<div
								class={`flex gap-3 items-center border-[0.6px] ${!item.since && item.find === false ? "border-red-200 bg-red-50" : "border-blue-200 bg-blue-50"} rounded-t-xl p-3 justify-between`}
							>
								<span class="text-sm">
									Информация:{" "}
									<b>
										{item.find === true ? (
											<span class="text-green-500 text-sm">Есть.</span>
										) : (
											<span class="text-red-500 text-sm">Нет.</span>
										)}
									</b>
								</span>
								<span class="text-sm">
									Основан:{" "}
									<b>
										{item.since ? (
											<span class="text-green-500 text-sm">{item.since}</span>
										) : (
											<span class="text-red-500 text-sm">Неизвествно.</span>
										)}
									</b>
								</span>
							</div>

							<a
								href={item.tg_group_link_topic}
								aria-label={item.title}
								target="_blank"
								class={`p-3 text-sm text-sky-600 border-[0.6px] bg-sky-100 border-sky-500 flex items-center gap-1 justify-center hover:bg-sky-200 transition-colors duration-75 ease-in ${item.wikipedia ? "rounded-b-none" : "rounded-b-xl"}`}
							>
								<Icon name="mdi:telegram" />
								<span class="font-medium">Перейти к подтеме сообщества</span>
							</a>
							{item.wikipedia && (
								<a
									href={item.wikipedia}
									aria-label={item.title}
									target="_blank"
									class="p-3 text-sm text-zinc-600 border-[0.6px] bg-zinc-100 border-zinc-500 rounded-b-xl flex items-center gap-1 justify-center hover:bg-zinc-200 transition-colors duration-75 ease-in"
								>
									<Icon name="mdi:wikipedia" />
									<span class="font-medium">Wikipedia страница</span>
								</a>
							)}
						</article>
					))
		}
	</section>
</Layout>
