---
import { communities } from "@/data/communities"
import Layout from "@/layouts/Layout.astro"
import { Icon } from "astro-icon/components"

const categories = [
	"🍷 Алкогольные зависимости",
	"💊 Наркотические зависимости",
	"👪 Поддержка для близких",
	"🍽️ Проблемы с пищей",
	"💰 Финансовые трудности",
	"🌍 Социальные проблемы",
	"🎨 Творческие зависимости",
	"♻ Общие зависимости",
	"🧠 Психические расстройства",
	"🔖 Другое",
]
---

<Layout
	title="Поиск анонимного сообщества по категориям"
	description="12 шаговые сообщества по категориям."
>
	<div id="category-filters" class="flex flex-wrap justify-center gap-2 mb-6">
		{
			categories.map(category => {
				const count = communities.filter(item => item.category === category).length
				return (
					<button
						class="category-button px-3 py-1 hover:bg-green-100 cursor-pointer rounded-full border border-zinc-200 text-sm  transition-all duration-75 ease-in bg-white"
						data-category={category}
					>
						{category} ({count})
					</button>
				)
			})
		}
		<button
			class="category-button px-3 py-1 transition-all duration-75 ease-in hover:bg-green-100 cursor-pointer rounded-full bg-white text-sm"
			data-category="all"
		>
			Показать все ({communities.length})
		</button>
	</div>

	<section
		id="community-list"
		class="grid grid-cols-1 items-start gap-6 md:gap-3 md:grid-cols-2 lg:grid-cols-3"
	>
		{
			categories.map(category => (
				<div class="flex flex-col shadow-2xs bg-white rounded-xl">
					<h3 class="text-xl p-6 font-medium">{category}</h3>
					{communities &&
						communities
							.filter(item => item.category === category)
							.map(item => (
								<article
									data-category={item.category}
									class="border-[0.5px] border-zinc-200 p-3 rounded-md flex flex-col"
								>
									<h2 class="font-medium">{item.title}</h2>
									<p class="mt-1 text-sm text-zinc-600">{item.description}</p>
									<div class="flex gap-1 items-start mt-3">
										<a
											href={item.tg_group_link_topic}
											aria-label={item.title}
											target="_blank"
											class={`px-2 p-1.5 text-sm text-sky-600 border-[0.6px] bg-sky-100 border-sky-500 flex items-center gap-1 justify-center hover:bg-sky-200 transition-colors duration-75 ease-in rounded-md`}
										>
											<Icon name="mdi:telegram" />
											<span class="font-medium">Описание</span>
										</a>
										{item.wikipedia && (
											<a
												href={item.wikipedia}
												aria-label={item.title}
												target="_blank"
												class="px-2 p-1.5 text-sm text-zinc-600 border-[0.6px] bg-zinc-100 border-zinc-500 rounded-md flex items-center gap-1 justify-center hover:bg-zinc-200 transition-colors duration-75 ease-in"
											>
												<Icon name="mdi:wikipedia" />
												<span class="font-medium">Wikipedia</span>
											</a>
										)}
									</div>
									<div class="flex gap-1 mt-1 items-start">
										<a
											href={`https://yandex.ru/search/?text=${item.title}`}
											target="_blank"
											class={`px-2 p-1.5 text-sm text-pink-600 border-[0.6px] bg-pink-100 border-pink-500 flex items-center gap-1 justify-center hover:bg-pink-200 transition-colors duration-75 ease-in rounded-md`}
										>
											<Icon name="mdi:subdirectory-arrow-right" />
											<span class="font-medium">Найти в Yandex</span>
										</a>
										<a
											href={`https://www.google.com/search?q=${item.title}`}
											target="_blank"
											class={`px-2 p-1.5 text-sm text-amber-600 border-[0.6px] bg-amber-100 border-amber-500 flex items-center gap-1 justify-center hover:bg-amber-200 transition-colors duration-75 ease-in rounded-md`}
										>
											<Icon name="mdi:google" />
											<span class="font-medium">Найти в Google</span>
										</a>
									</div>
								</article>
							))}
				</div>
			))
		}
	</section>

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const buttons = document.querySelectorAll(".category-button")
			const articles = document.querySelectorAll("#community-list article")

			buttons.forEach(button => {
				button.addEventListener("click", () => {
					const selectedCategory = button.dataset.category

					// Удаляем активность со всех кнопок
					buttons.forEach(btn => btn.classList.remove("bg-zinc-200", "font-medium"))

					// Выделяем активную кнопку
					button.classList.add("bg-zinc-200", "font-medium")

					// Фильтруем карточки
					articles.forEach(article => {
						if (
							selectedCategory === "all" ||
							article.dataset.category === selectedCategory
						) {
							article.parentElement.style.display = "flex"
						} else {
							article.parentElement.style.display = "none"
						}
					})
				})
			})
		})
	</script>
</Layout>
