---
import Layout from "@/layouts/Layout.astro"

const text = [
	{
		title: "Сообщества",
		style_ping: "bg-indigo-400",
	},
	{
		title: "Методы",
		style_ping: "bg-blue-400",
	},
	{
		title: "Опыт разработки",
		style_ping: "bg-green-400",
	},
	{
		title: "Прочее",
		style_ping: "bg-red-400",
	},
]

const text1 = [
	{
		title: "Сообщества",
		style: "rose",
	},
	{
		title: "Методы",
		style: "indigo",
	},
	{
		title: "Прочее",
		style: "green",
	},
	{
		title: "Методы",
		style: "violet",
	},
]

import BlockCard from "@/components/BlockCard.astro"
import { Icon } from "astro-icon/components"

import { communities } from "@/data/communities"
import { blockData } from "@/data/links"
---

<Layout
	title="12 шагов: информация и прочее"
	description={`Интересная информация, материалы, методы прохождения двенадцати шагов, ${communities.length} видов сообществ и многое другое.`}
>
	<!-- <section
		class="flex flex-wrap bg-white rounded-lg sm:rounded-full max-w-fit mx-auto px-6 py-3 gap-4 justify-center items-center"
	>
		{
			text &&
				text.map(item => (
					<div class="inline-flex items-center gap-2">
						<div class="relative">
							<div class={`w-2 h-2 rounded-full ${item.style_ping} animate-ping`} />
							<div class={`w-2 h-2 rounded-full ${item.style_ping} absolute inset-0`} />
						</div>
						<span class="font-medium text-zinc-700">{item.title}</span>
					</div>
				))
		}
	</section> -->

	<main class="max-w-4xl mx-auto flex flex-col gap-12">
		<h1>
			<span class="block md:text-8xl text-6xl font-black">12 шагов</span>
			<span class="block text-2xl md:text-4xl text-zinc-700"
				>Материалы, шаги и прочее.</span
			>
		</h1>
		<p class="text-2xl md:text-5xl text-zinc-400">
			<b class="text-zinc-700">Интересная</b> информация, материалы, <b
				class="text-zinc-700">методы прохождения</b
			> двенадцати шагов,
			<b class="text-zinc-700">{`${communities.length}`}</b>
			видов сообществ и <b class="text-zinc-700">многое другое</b>.
			<span>👇</span>
		</p>
		<!-- <Time client:load /> -->
		<div class="grid sm:grid-cols-2 gap-3 grid-cols-1">
			{
				blockData &&
					blockData.map(block => (
						<BlockCard
							key={block.link}
							link={block.link}
							title={block.title}
							icon={block.icon}
							textBtn={block.textBtn}
							description={block.description}
						/>
					))
			}
		</div>
		<!-- <BlockCard
			description="Скоро..."
			icon="mdi:account-details"
			styleBtn="bg-green-500"
			textBtn="Создать"
			style="border-green-200 bg-green-50 text-green-700"
			title="Генератор Преамбул"
			link="#"
		/> -->
		<!-- <BlockCard description="" icon="" style="" title="" /> -->
		<section class="bg-white rounded-xl">
			<div class="flex">
				<div class="p-6 flex flex-col gap-3 items-start">
					<h2 class="text-lg font-bold">Проект от НК "Действия"</h2>
					<p class="leading-relaxed text-zinc-600">
						Это независимый комитет, созданный для поддержки и развития различных
						12-шаговых сообществ. Мы ориентированы на обмен опытом, консультации и помощь
						в реализации проектов, особенно в IT-сфере и связанных направлениях.
					</p>
					<a
						class="px-3 py-1.5 mt-1.5 rounded-md font-medium flex gap-1 items-center bg-blue-50 text-blue-700 border border-blue-200"
						target="_blank"
						href="https://docs.google.com/document/d/16yZCl16vD8pVHhMqo_LltiOGF0M7FVYXscgoQP5vPbM/edit?usp=sharing"
						><Icon name="mdi:file-pdf" /><span>НК "Действия" Документ</span></a
					>
				</div>
			</div>
		</section>
	</main>
</Layout>
