---
import Author from './Author.astro'

const {data, id} = Astro.props
---

<a
	data-tag={data.tags?.join(",") ?? ""}
	href={`/archive/${id}/`}
	class="block relative"
>
	<div class="rounded-2xl p-2 shadow-md shadow-black/5">
		<article
			class="rounded-xl shadow-lg ring-1 ring-black/5 lg:shadow-2xl bg-white p-5 relative flex-col flex gap-3"
		>
			<h2 class="h-[50px] leading-tight line-clamp-2 text-xl font-bold">
				{data.title}
			</h2>
			<p class="h-[72px] line-clamp-3 text-zinc-600">{data.description}</p>

			<div class="flex mt-2 justify-between -center">
				<Author data={data} />
				{
					data.pubDate && (
						<time datetime={data.pubDate} class="self-end text-zinc-600 text-sm">
							🗓
							{new Date(data.pubDate).toLocaleDateString("ru-RU", {
								year: "numeric",
								month: "short",
								day: "numeric",
							})}
						</time>
					)
				}
			</div>
		</article>
	</div>
</a>
