---
import { links, telegrams } from "@/data/links"
import { getCollection } from "astro:content"
import Container from "./Container.astro"
import ProductionSvgIcon from "./ProductionSvgIcon.astro"

const methods = await getCollection("methods")
---

<footer class="bg-white">
	<Container>
		<div class="grid grid-cols-1 py-12 md:grid-cols-2 lg:grid-cols-3 gap-12">
			<div class="flex flex-col gap-4 md:items-start items-center">
				<span class="text-lg font-semibold text-zinc-900">Страницы </span>
				{
					links &&
						links.map(item => (
							<a class="text-zinc-600" href={item.href}>
								{item.label}
							</a>
						))
				}
			</div>
			<div class="flex flex-col gap-4 md:items-start items-center">
				<span class="text-lg font-semibold text-zinc-900">Методы шагов</span>
				{
					methods &&
						methods.map(item => (
							<a class="text-zinc-600" href={`/methods/${item.id}`}>
								{item.data.title}
							</a>
						))
				}
			</div>
			<div class="flex flex-col gap-4 md:items-start items-center">
				<span class="text-lg font-semibold text-zinc-900">Ресурсы</span>
				{
					telegrams &&
						telegrams.map(item => (
							<a class="text-zinc-600" target="_blank" href={item.href}>
								{item.label}
							</a>
						))
				}
			</div>
		</div>
		<div class="bg-zinc-100 border-[0.5px] border-zinc-300 rounded-xl p-6 my-12">
			<div
				class="flex justify-center md:justify-between md:flex-nowrap flex-wrap items-center gap-3"
			>
				<p>
					&copy;
					<span class="text-zinc-600 font-medium">{new Date().getFullYear()}</span>
					<span class="font-bold">UnitOne</span>
				</p>
				<ProductionSvgIcon />
			</div>
		</div>
	</Container>
</footer>
